$fontsize-0:36px;
$fontsize-1 : 24px;
$fontsize-2 : 14px;
$fontsize-3 : 12px;
$fontsize-2-1 : 18px;

$background-color-1:#ffffff;
$background-color-2:#f2f1f6;
$background-color-3:#eaeaec;

//placeholder
%clearFix{
  &::after{
    content:'';
    clear:both;
    display: block;
  }
}
